<?xml version="1.0" encoding="utf-8"?>
<Arena>
	<versionInfo name="Resolume Arena" majorVersion="7" minorVersion="16" microVersion="0" revision="25503"/>
	<Application name="Application" recentCompositions="C:\Users\staff\Documents\Resolume Arena\Compositions\FUJI2023_Hakushi_manual.avc
C:\Users\staff\Documents\Resolume Arena\Compositions\FUJI2023_Hakushi.avc
C:\Users\staff\Documents\Resolume Arena\Compositions\FUJI2023_EYE.avc
C:\Users\staff\Documents\Resolume Arena\Compositions\Example.avc">
		<Params name="Settings">
			<Param name="CurrentCompositionFile" T="STRING" default="C:\Program Files\Resolume Arena\default\Example.avc" value="C:\Users\staff\Documents\Resolume Arena\Compositions\FUJI2023_Hakushi_manual.avc"/>
			<ParamRange name="DefaultCompositionWidth" T="DOUBLE" default="1920" value="1920">
				<PhaseSourceStatic name="PhaseSourceStatic" phase="0.019190191901919020911"/>
			</ParamRange>
			<ParamRange name="DefaultCompositionHeight" T="DOUBLE" default="1080" value="1080">
				<PhaseSourceStatic name="PhaseSourceStatic" phase="0.010790107901079010189"/>
			</ParamRange>
			<Param name="DefaultDeckCount" T="UINT32" default="3" value="3"/>
			<Param name="DefaultLayerCount" T="UINT32" default="3" value="3"/>
			<Param name="DefaultColumnCount" T="UINT32" default="9" value="9"/>
			<ParamChoice name="Texture Path" default="TUP_DMA" value="TUP_DMA" storeChoices="0"/>
		</Params>
		<RecordSettings>
			<Conversion name="Conversion" Name="DXV 3 Normal Quality No Alpha" Codec="Motion JPEG" Format="Normal Quality" AutoSize="Fit" CustomSize="0" AudioEnabled="1" SampleRate="44100" BitDepth="16">
				<OutputPath Type="2" Path="C:\Users\staff\Documents\Resolume Arena\Recorded"/>
			</Conversion>
		</RecordSettings>
		<RenderSettings>
			<Conversion name="Conversion" Name="DXV 3 Normal Quality No Alpha" Codec="DXV 3" Format="Normal Quality, With Alpha" AutoSize="Fit" CustomSize="0" AudioEnabled="1" SampleRate="44100" BitDepth="16">
				<OutputPath Type="2" Path="C:\Users\staff\Documents\Resolume Arena\Renders"/>
			</Conversion>
		</RenderSettings>
	</Application>
	<VideoEngine name="VideoEngine">
		<Params name="Params">
			<Param name="Show FPS" T="BOOL" default="0" value="1"/>
		</Params>
	</VideoEngine>
	<AudioEngine name="AudioEngine">
		<AudioDeviceManager name="AudioDeviceManager">
			<AudioDeviceManagerSettings name="AudioDeviceManagerSettings" channelsUseBitmask="1">
				<Params name="Settings">
					<ParamChoice name="SmpteFrameRateId" T="INT32" default="2" value="4" storeChoices="0"/>
				</Params>
			</AudioDeviceManagerSettings>
			<AudioDeviceSettings>
				<DEVICESETUP deviceType="ASIO" audioOutputDeviceName="Focusrite USB ASIO" audioInputDeviceName="Focusrite USB ASIO" audioDeviceRate="48000.0" audioDeviceInChans="0" audioDeviceOutChans="11"/>
			</AudioDeviceSettings>
		</AudioDeviceManager>
		<AudioPluginManager name="AudioPluginManager"/>
	</AudioEngine>
	<SmpteController name="SmpteController">
		<Params name="Params">
			<ParamRange name="Smpte1Offset" T="DOUBLE" default="0" value="6">
				<PhaseSourceStatic name="PhaseSourceStatic" phase="0.5999999999999999778"/>
			</ParamRange>
		</Params>
	</SmpteController>
	<TCNetManager name="TCNetManager" interface="Intel(R) Ethernet Connection (2) I218-LM"/>
</Arena>

